@import "tailwindcss";
@layer theme, base, components, utilities;

@layer base {
  #root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/Manrope-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("./assets/Manrope-VariableFont_wght.ttf") format("truetype-variations"),
    url("./assets/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Sora";
  src: url("./assets/Sora-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("./assets/Sora-VariableFont_wght.ttf") format("truetype-variations"),
    url("./assets/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 1000;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-sora: "Sora", sans-serif;
}
